h2 {
  font-weight: 100;
  font-size: 28px;
  color: #344462;
}

h2{
  text-align: center;
  padding: 10px;
}

ul {
  line-height: 2;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #344462;
}

.sidenav {
  min-width: 25%;
  border: 1px solid #dad8d8;
  border-radius: 10px;
  margin: 57px 0px 20px 15px;
}

.sidenav:hover {
  border: 2px solid #000;
  color: #344462;
}



